html, body {
	width: 100%;
	height: 100%;
	margin: 0pt;
	padding: 5%;
}

#matrix {
	width: 100%;
	height: 100%;
}

table {
	width: 85%;
	height: 85%;
	padding: 5%;
}

tr {
	width: 95%;
	padding: 5%;
}

/* individual tile css*/
td {
	width: 5pt;
	height: 5pt;
	background-color: #000000;	/*black*/
}

/*.active {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}*/

